<table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f8f9"
  style="@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500); font-family: 'Roboto', sans-serif , Arial, Helvetica, sans-serif;">
  <tr>
    <td>
      <table style="background-color: #f2f8f9; max-width:670px; margin:0 auto;" width="100%" border="0" align="center"
        cellpadding="0" cellspacing="0">
        <tr>
          <td style="height:80px;">&nbsp;</td>
        </tr>
        <tr>
          <td style="text-align:center;">
            <a href="#"><img width="" src="https://i.imgur.com/KiqgEwv.png" alt="WeCar"></a>
          </td>
        </tr>
        <tr>
          <td style="height:40px;">&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
              style="max-width:670px; background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);-moz-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12)">
              <tr>
                <td style="height:40px;">&nbsp;</td>
              </tr>
              <tr>
                <td style="padding:0 15px;">
                  <h1 style="color:#3075BA; font-weight:400; margin:0;font-size:32px;">Novo contato</h1>
                  <p style="font-size:18px; color:#171f23de; margin:8px 0 0; line-height:24px;">
                    <strong>ID</strong>
                    <p>{{identifier}}</p>
                  </p>
                  <p style="font-size:18px; color:#171f23de; margin:8px 0 0; line-height:24px;">
                    <strong>Nome</strong>
                    <p>{{name}}</p>
                  </p>
                  <p style="font-size:18px; color:#171f23de; margin:8px 0 0; line-height:24px;">
                    <strong>Email</strong>
                    <p>{{email}}</p>
                  </p>
                  <p style="font-size:18px; color:#171f23de; margin:8px 0 0; line-height:24px;">
                    <strong>Telefone</strong>
                    <p>{{phone}}</p>
                  </p>
                  <p style="font-size:18px; color:#171f23de; margin:8px 0 0; line-height:24px;">
                    <strong>Assunto</strong>
                    <p>{{subjectContent}}</p>
                  </p>
                  <p style="font-size:18px; color:#171f23de; margin:8px 0 0; line-height:24px;">
                    <strong>Mensagem</strong>
                    <p>{{message}}</p>
                  </p>
                </td>
              </tr>
              <tr>
                <td style="height:40px;">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td style="height:20px;">&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
              style="max-width: 670px; background:#FCF8E3; color: #a0924e; border-radius:3px; text-align:center;-webkit-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);-moz-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12); padding: 20px 0 20px 0;">
              <tr>
                <td style="padding:0 15px;">
                  <strong>ATENÇÃO: </strong>
                  Em alguns caso o e-mail pode cair na caixa
                  <strong>Lixo Eletrônico</strong>
                  ou
                  <strong>Spam</strong>.
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td style="text-align:center;">
            <br>
            <p style="font-size:17px; color:#455056bd; line-height:18px; margin:0 0 0;">
              &mdash; Equipe <strong>WeCar</strong>.
            </p>
          </td>
        </tr>
        <tr>
          <td style="height:80px;">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>